@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=PT+Sans|Gudea|Audiowide);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* CSS Document */

body {
	width:100%;
	margin:0 auto;
	float:left;
    overflow-x: hidden;
}
.header {
    width:100%;
    float:left;
    position:fixed;
    background:#14deaf ;
    height:55px;
    z-index: 1;
}
.header img {
	width:20%;
	float:left;
	position:relative;
	margin:0 auto;
}

nav {
	width:40%;
	float:right;
	position:relative;
	font-size:16px;
	margin:0 auto;
	list-style:none;
	padding-top:1%;
}

nav li {
	display:inline-block;
	padding-right:10%;
}

nav li a {
	text-decoration:none;
	color:#000;
	display:block;
	font-family: 'Montserrat', sans-serif;
}

nav li a:hover {
	color:#364370;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
}

a.nav-active {
    color:#ccc;
}

.wrapper {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	padding:0;
}


h3 {
	font-family: 'PT Sans', sans-serif;
	color: #000;
	float:left;
	position:relative;
	background:#FFF;
	width:100%;
	margin:0 auto;
}

h1 {
	font-family: 'PT Sans', sans-serif;
	color: #FFF;
	float:left;
	position:relative;
	width:100%;
	margin:0 auto;
}

a {
	color:#555b6f;
}

#intro {
	width:100%;
    height:618px;
	float:left;
	position:relative;
	margin:0 auto;
    background-image:url(images/cddesign_backdrop.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}


#introduction p {
	color:black;
	font-size:18px;
	width:50%;
	padding:0;
	margin:0 auto;
	text-align:left;
    margin-top:30px;
    float:none;
}

#introduction {
    width:100%;
    height:150px;
    float:left;
    position:relative;
    background:#d4d4d4;
    color:#000;
}

#about {
    float:left;
    position:relative;
    height:550px;
    width:100%;
}


#banner {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
}

#resume {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	background:#FFF;
	padding:0;
}

#info {
    width:100%;
    float:left;
    position:relative;
    margin:0 auto;
}

#info ul {
	float:left;
    margin-top:5%;
	margin-left:35%;
	width:25%;
	background:#f9f9f9;
	border: solid #000 1px;
    text-align:center;
}

#info ul li {
	list-style:none;
}

#contact {
	width:100%;
    height:768px;
	float:left;
	position:relative;
	margin:0 auto;
	background:#d4d4d4;
}


#clients {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	height:768px;
	background:#FFF;
}

#clients h3 {
    margin-top:55px;
    margin-left:25px;
}

#clients li {
	list-style:none;
}

.bxslider li {
    float:left;
    max-width:1060px !important;
    margin-left:55px;
}

em {
	font-family:'PT Sans', sans-serif;
	font-size:14px;
	color:#999;
}

strong {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	float:left;
	position:relative;
	font-family:'PT Sans', sans-serif;
	width:80%;
	margin:0 auto;
}

ul {
	float:left;
	position:relative;
	width:80%;
}

ul li {
	font-family:'Gudea', sans-serif;
}

/*BX Slider Add-ons */

.bx-wrapper .bx-caption span {
    height:25px !important;
    width:80% !important;
    padding-left:0 !important;
}

.bx-wrapper img {
    width:850px !important;
}

/*Contact Form */

form {
    width:500px;
    float:left;
    position:relative;
    margin-left:400px;
    margin-top:25px;
    background:#FFF;
    border:1px solid #000;
    border-radius:2%;
    padding:2%;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

label {
    font-family: 'Montserrat', sans-serif;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
    width:90%;
    border:1px solid #CCC;
    background:#FFF;
    margin-left:5%;
    margin-top:2%;
    margin-bottom:2%;
    padding:10px;
    border-radius:5px;
    float:left;
}

#contact-form button[type="submit"] {
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
    width:50%;
    border:none;
    background:#14deaf;
    color:#000;
    margin-left:125px;
    margin-top:10px;
    padding:10px;
    border-radius:5px;
    height:50px
}

::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}

form h3 {
    background:none;
    float:none;
    font-family: 'Montserrat', sans-serif;
}

footer {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	background:#000;
}

footer ul {
    margin-left:8%;
}

footer ul li {
	display:inline-block;
	padding-right:5%;
    margin-left:5%;
}

footer p {
	color:#FFF;
	width:25%;
	float:none;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	padding-left:20%;
}

footer img {
	width:35px;
}

@media screen and (max-width: 800px) {
body {
		width:100%;
		height:100%;
		float:left;
		margin:0 auto;
	}

	.header {
		width:100%;
		float:left;
		margin:0 auto;
		position:fixed;
	}
	
	nav { 
		width:100%;
		margin:0 auto;
		font-size:16px;
		float:right;
  	}
	
	.wrapper {
		min-height:100%;
		float:left;
	}
}

@media screen and (max-width: 600px) {
	
	nav { 
  		height: auto;
		width:100%;
		margin:0 auto;
		font-size:12px;
  	}

  	nav li {
  		float: right;
  		position: relative;
		display:inline-block;
  	}
	
  	nav li a {
		font-family:'PT Sans', sans-serif;
		font-weight:bold;
		font-size:18px;
		text-indent:1%;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
  	}
	
	#intro {
		width:100%;
		height:100%;
		background-size:cover;
	}
	
	p {
		float: none;
		position: relative;
		font-family: 'PT Sans', sans-serif;
		width: 95%;
		margin: 0 auto;
		color: #FFF;
		padding-top: 3%;
		padding-bottom: 3%;
	}
    

}

@media only screen and (max-width : 480px) {
	
	body {
		width:100%;
		float:left;
		margin:0 auto;
	}
	
	.header {
		width:100%;
		float:left;
		margin:0 auto;
		position:fixed;
	}
	
	.header img {
		width:45%;
	}
	.wrapper {
        float:left;
        width:100%;
        overflow-x: hidden;
    }
	nav {
		width:100%;
		float:left;
		text-indent:20%;
		border-bottom: 0;
		padding-top:2%;
		padding-bottom:2%;
	}

	nav li {
		float:none;
		padding-right:4%;
		display:inline-block;
		margin:0 auto;
		font-size:12px;
	}
	
	nav li a:hover {
	color:#FFF;
}
	
	
#intro {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	height:225px;
	background-size: contain;
    margin-bottom:-5px;
}

#introduction p {
	font-size:18px;
	width:90%;
	padding:0;
	margin:0 auto;
	text-align:left;
    margin-top:30px;
}

#introduction {
    width:100%;
    height:100%;
    float:left;
    position:relative;
    background:#d4d4d4;
    color:#000;
    margin-top:-32px;
    padding-bottom:20px;
}    
    
#intro img {
	width:60%;
	float:none;
}

#intro p {
	width:95%;
	float:left;
	position:relative;
	font-size:16px;
	text-align:center;
	padding:0;
}

#clients {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	height:380px;
	background:#FFF;
}

#clients img {
	width:70%;
}
    
.bx-wrapper .bx-controls-direction a {
    margin-top:26px !important;
    z-index: 0 !important;
    }   

.bx-wrapper .bx-caption {
    left:-45px;
    width:90%;
    }   

.bxslider li {
    width:375px !important;
    margin-left:-40px;
    }    
    
#contact {
    float:left;
    position:relative;
    width:100%;
    margin:0 auto;
    height:inherit;
}
    
#contact strong {
	margin-left:10%;
}

#contact ul {
	margin-left:7%;
    margin-top:18%;
	width:65%;
	background:#f9f9f9;
	border: solid #000 1px;
}

form {
    width:90%;
    float:left;
    position:relative;
    margin-left:10px;
    margin-top:25px;
    margin-bottom:5px;
    background:#FFF;
    border:1px solid #000;
    border-radius:2%;
    padding:2%;
}    

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
    padding:5px;
    }    
    
 #contact-form button[type="submit"] {
    margin-left:80px;    
    }    
    
footer {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	background:#000;
	height:100px;
}
footer ul {
	margin:0 auto;
	float:left;
	padding-top:5%;
}

footer p {
	color:#FFF;
	width:65%;
	float:none;
	border-top: solid #CCC 2px;
	font-family:'Audiowide', cursive;
	font-size:10px;
}

#info ul {
    float: left;
    margin-top: 25%;
    margin-left: 4%;
    width: 80%;
    background: #f9f9f9;
    border: solid #000 1px;
    text-align: center;
    text-indent: -15%;
}
 
    
#resume p {
    color:#000;
    width:90%;
    }    

#resume ul {
    width:100%;
    margin-left:-10px;
    }

#resume ul li {
    width:80%;    
    }    
    
}

@media only screen and (max-width : 320px) {
	nav {
		width:100%;
		float:left;
		text-indent:20%;
		border-bottom: 0;
		padding-top:2%;
		padding-bottom:2%;
	}

	nav li {
		float:none;
		padding-right:4%;
		display:inline-block;
		margin:0 auto;
		font-size:12px;
	}
	
	nav li a:hover {
	color:#FFF;
}
    
    #intro {
        margin-bottom:-15px;
    }    
	
footer {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	background:#000;
	height:80px;
	align-content:center;
}
	
footer ul {
	margin:0 auto;
	padding-top:1%;
}

footer p {
	color:#FFF;
	width:55%;
	float:none;
	border-top: solid #CCC 2px;
	font-family:'Audiowide', cursive;
	font-size:10px;
}

}

