@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=PT+Sans|Gudea|Audiowide);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* CSS Document */

body {
	width:100%;
	margin:0 auto;
	float:left;
    overflow-x: hidden;
    background-color:#FFFFEA;
}
.header {
    width:100%;
    float:left;
    position:fixed;
    background-color:#00CECB;
    height:65px;
    z-index: 1;
}
.header img {
	width:20%;
	float:left;
	position:relative;
	margin:0 auto;
}

nav {
	width:100%;
	float:none;
	position:relative;
	font-size:18px;
	margin:0 auto;
	list-style:none;
	padding-top:1%;
    margin-left:35%;
    margin-top:1%;
}

nav li {
	display:inline-block;
	padding-right:10%;
}

nav li a {
	text-decoration:none;
	color:#000;
	display:block;
	font-family: 'Montserrat', sans-serif;
}

nav li a:hover {
	color:#FFF;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
}

a.nav-active {
    color:#ccc;
}

.wrapper {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	padding:0;
}


h3 {
	font-family: 'PT Sans', sans-serif;
	color: #000;
	float:left;
	position:relative;
	width:100%;
	margin:0 auto;
}

h4 {
    font-family: 'PT Sans', sans-serif;
    float:left;
    position:relative;
    margin-left:15%;
    font-size:16pt;
}

h1 {
	font-family: 'PT Sans', sans-serif;
	color: #FFF;
	float:left;
	position:relative;
	width:100%;
	margin:0 auto;
}

a {
	color: blanchedalmond;
}

#banner {
    width:100%;
    float:left;
    position:relative;
    padding-top:5%;
}

#intro {
	width:100%;
    height:768px;
	float:left;
	position:relative;
	margin:0 auto;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
}


#about {
    float:left;
    position:relative;
    height:100%;
    width:100%;
    margin-top:4%;
}

#about img {
    margin-top: 2%;
    margin-left: 45%;
    border-radius: 395px;
    width: 175px;
    float: left;
}

#about p {
    float:left;
    width:40%;
    margin-left:30%;
    margin-top:2%;
    font-size:16pt;
}

#about ul {
   margin-top:1%;
   margin-left:15%:
}

#about ul li {
    list-style: none;
    display: inline-block;
    margin-left:10%;
}

#about ul img {
    width:45px;
    background-color: white;
}

.details {
    width:100%;
    float:left;
    position:relative;
    text-align:center;
    font-size:16pt;
    font-family: 'Montserrat', sans-serif;
    margin-top:2%;
}

#tile {
    float:left;
    width:35%;
    position:relative;
}

#tile img {
    border-radius:0px;
    width:65% !important;
    float:left;
    margin-left:15%;
}

#tile p {
    float: left;
    width: 95%;
    margin-left: 15%;
    margin-top: 2%;
    font-size: 14pt;
}

#findme {
    float:left;
    position:relative;
    width:100%;
    text-align:center;
    font-size:16pt;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
}

#findme img {
    border: 1px solid #000;
}

#banner {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
}

#resume {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	background:#FFF;
	padding:0;
}

#info {
    width:100%;
    float:left;
    position:relative;
    margin:0 auto;
}

#info ul {
	float:left;
    margin-top:5%;
	margin-left:35%;
	width:25%;
	background:#f9f9f9;
	border: solid #000 1px;
    text-align:center;
}

#info ul li {
	list-style:none;
}

#info ul a {
     color:black !important;   
    }  

#contact {
	width:100%;
    height:768px;
	float:left;
	position:relative;
	margin:0 auto;
	background:#d4d4d4;
}


#clients {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	height:768px;
	background-color:white;
}

#clients h3 {
    margin-top:55px;
    margin-left:25px;
}

#clients li {
	list-style:none;
}

.bxslider li {
    float:left;
    max-width:1060px !important;
    margin-left:55px;
}

em {
	font-family:'PT Sans', sans-serif;
	font-size:14px;
	color:#999;
}

strong {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	float:left;
	position:relative;
	font-family:'PT Sans', sans-serif;
	width:80%;
	margin:0 auto;
}

#findme ul {
	float:left;
	position:relative;
	width:100%;
    list-style: none;
    display: inline-flex;
    margin-left: 32%;
}

#findme ul li {
	font-family:'Gudea', sans-serif;
    margin-left:5%;
}

/*BX Slider Add-ons */

.bx-wrapper .bx-viewport {
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
}

.bx-wrapper {
    margin-top:5% !important;
    border: 1px solid #FFF;
}

.bx-caption {
    margin-left:10%;
}

.bx-wrapper .bx-caption span {
    height:25px !important;
    width:80% !important;
    padding-left:0 !important;
}

.bx-wrapper img {
    width:850px !important;
    margin-left:20%;
}

/*social icons*/

.ion-social-wordpress {
	font-size: 155px;
    float:left;
    width:65% !important;
    margin-left:25%;
}

.ion-social-twitter {
	font-size:50px;
    color:#1da1f2;
}

.ion-social-instagram-outline {
	font-size:50px;
    color:#000;
}

.ion-social-linkedin {
	font-size:50px;
    color:#006fa6;
}


footer {
	width:100%;
    height:60px;
	float:left;
	position:relative;
	margin:0 auto;
	background-color: gainsboro;
}

footer ul {
    margin-left:5%;
}

footer ul li {
	display:inline-block;
	padding-right:5%;
    margin-left:5%;
}

footer p {
	color:#000;
	width:100%;
	float:left;
	text-align:center;
	font-family:'Gudea', sans-serif;
    margin-top:1%;
}

footer p a {
    text-decoration: none;
    color:#000;
}

footer img {
	width:35px;
}



@media screen and (max-width : 480px) {
	
	body {
		width:100%;
		float:left;
		margin:0 auto;
	}
	
	.header {
		width:100%;
        height:45px;
		float:left;
		margin:0 auto;
		position:fixed;
	}
	
	.header img {
		width:45%;
	}
	.wrapper {
        float:left;
        width:100%;
        overflow-x: hidden;
    }
	nav {
		width:100%;
		float:left;
		border-bottom: 0;
		padding-top:2%;
		padding-bottom:2%;
        margin-left:15%;
	}

	nav li {
		float:left;
		padding-right:4%;
		display:inline-block;
		margin:0 auto;
		font-size:14px;
	}
	
	nav li a:hover {
	color:#FFF;
}
	
	
#intro {
	width:100%;
    height:200px;
	float:left;
	position:relative;
	margin:0 auto;
    background-size:cover;
}

#introduction p {
	color:white;
	font-size:18px;
	width:90%;
	padding:0;
	margin:0 auto;
	text-align:left;
    margin-top:30px;
}

#introduction {
    width:100%;
    height:250px;
    float:left;
    position:relative;
    background:#d4d4d4;
    color:#000;
    margin-top:-32px;
    padding-bottom:20px;
}    
    
#intro img {
	width:60%;
	float:none;
}

#intro p {
	width:95%;
	float:left;
	position:relative;
	font-size:16px;
	text-align:center;
	padding:0;
}

#info ul {
	float:left;
    margin-top:20%;
    margin-left:-10%;
	width:100%;
    background:none;
    border:none;
    text-align:center;
}

#info ul li {
	list-style:none;
}    
      

#about {
    
}
    
#about img {
    width:25%;
    margin-top:10%;
}

#about p {
    float: none;
    width: 95%;
    margin-left:3%;
    margin-top: 5%;
    font-size: 16pt;
    text-align: center;
}    

#about ul {
    margin-left:-30px; 
    margin-top:10%;
}    

#about ul img {
    width:35px;
    background-color: white;
}    
    
#clients {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	height:250px;
	background:#FFF;
}

#clients img {
	width:70%;
}

.bxcaption span {
        height:25px !important;
    }    
    
#contact {
    float:left;
    height:inherit;
    background:none;
}
    
#contact strong {
	margin-left:10%;
}

#contact ul {
	margin-left:7%;
    margin-top:18%;
	width:65%;
	background:#f9f9f9;
	border: solid #000 1px;
}

.bx-wrapper .bx-caption {
    height: 60px !important;
    width: 100% !important;
    margin-left: 5% !important;
}    
.bxslider li {
    margin-left: 0px !important;
    width: 270px !important;
    }
.bx-wrapper .bx-caption {
    height: 65px !important;    
    }    

    .bx-wrapper img {
        margin-left:5% !important;
    }    
    
footer {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	background-color:gainsboro;
	height:70px;
}
footer ul {
	margin:0 auto;
	float:left;
	padding-top:5%;
}

footer p {
	color:#000;
	width:85%;
	float:none;
	font-family:'Gudea', sans-serif;
	font-size:12pt;
    margin-top:5%;
}

}

@media screen (orientation:portrait) and (max-width : 320px) {
	nav ul {
		float: left;
		width: 100%;
		padding:0;
		margin:0 auto;
	}
	
	nav li {
		float:left;
		width:100%;
		margin:0 auto;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
	
footer {
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	background:#000;
	height:80px;
	align-content:center;
}
	
footer ul {
	margin:0 auto;
	padding-top:1%;
}

footer p {
	color:#FFF;
	width:55%;
	float:none;
	border-top: solid #CCC 2px;
	font-family:'Audiowide', cursive;
	font-size:10px;
}

}
/*
@media screen and (max-width: 700px) {

body {
    width:100%;
    float:left;
    margin:0 auto;
    }
    #wrapper {
        width:100%;
        overflow-x: hidden;
    } 
    
    h3 {
        width:100%;
    }
    
    #resume {
        width:100%;
    }
    
nav {
		width:100%;
		float:left;
		text-indent:20%;
		border-bottom: 0;
		padding-top:2%;
		padding-bottom:2%;
	}

nav li {
		float:none;
		padding-right:4%;
		display:inline-block;
		margin:0 auto;
		font-size:16px;
	}
	
nav li a:hover {
	color:#FFF;
}
	
    
#info ul {
	float:left;
    margin-top:10%;
	margin-left:0%;
	width:100%;
	background:none;
	border: none;
    text-align:center;
}

#info ul li {
	list-style:none;
}
}
*/
